/target
pacage.toml
resources/tests/fake_pkg[12]/*/
# !resources/tests/fake_pkg[12]/
# !resources/tests/fake_pkg[12]/PKGBUILD
# !resources/tests/fake_pkg[12]/some_file1
# !resources/tests/fake_pkg[12]/some_file2
# !resources/tests/fake_pkg[12]/.SRCINFO

/tmp
