/target
pacage.toml
resources/test/fake_pkg/pkg/testing_fake_pkg/
!resources/test/fake_pkg/PKGBUILD
!resources/test/fake_pkg/some_file1
!resources/test/fake_pkg/some_file2
!resources/test/fake_pkg/.SRCINFO
